body {
    font-family: $font;
    font-weight: 300;
    font-size: 16px;
    color: $black;
    background: #e3e3db2e;
}

.form-control {
    font-weight: 300;
}

small {
    font-weight: 300;
}

.btn {
    margin-bottom: 8px;
    padding: 8px 16px;
    font-weight: 300;
}

.bold {
    font-weight: 500;
}

.frank {
    width: 100%;
    height: 80px;
    background: rgba( 0, 0, 0, .5);
    margin-bottom: 24px;
    border-radius: $radius;
    padding: 8px;
    color: white;
    .avatar {
        height: 56px;
        width: 56px;
        background-image: url(../images/frank-head.png);
        background-color: white;
        background-repeat: no-repeat;
        background-position: -6px -8px;
        border-radius: 100%;
        float: left;
        margin-right: 24px;
    }
}

#login {
    background: url(https://i.servimg.com/u/f70/18/17/96/77/bg_hot10.png), $roxo;
    background-repeat: no-repeat;
    background-position: 300px -30px;
    .areadelogin {
        min-height: calc(100vh - 54px);
        .login {
            padding-top: 24px;
            padding-bottom: 16px;
            background: $white;
            border-radius: $radius;
        }
    }
    .login-text {
        margin-bottom: 32px;
        h1 {
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
        }
        h3 {
            font-size: 24px;
            font-weight: 300;
            line-height: 26px;
        }
    }
}

#registro {
    background: url(https://i.servimg.com/u/f70/18/17/96/77/bg_hot10.png), $roxo;
    background-repeat: no-repeat;
    background-position: 300px -30px;
    .areaderegistro {
        min-height: calc(100vh - 54px);
        .registro {
            padding-top: 24px;
            padding-bottom: 16px;
            background: $white;
            border-radius: $radius;
        }
    }
    .boy {
        background: url(../images/pageregister.png);
        height: 105px;
        width: 65px;
        background-position: -188px -43px;
        margin-bottom: 24px;
        margin-top: 8px;
        transition: $transition;
        background-repeat: no-repeat;
        background-size: 320px;
        &:hover {
            transform: scale(1.1);
        }
    }
    .girl {
        background: url(../images/pageregister.png);
        height: 105px;
        width: 61px;
        background-position: -256px -40px;
        margin-bottom: 24px;
        margin-top: 8px;
        transition: $transition;
        background-repeat: no-repeat;
        background-size: 320px;
        &:hover {
            transform: scale(1.1);
        }
    }
    .registro-text {
        margin-bottom: 32px;
        h1 {
            font-weight: 500;
            font-size: 32px;
            line-height: 40px;
        }
        h3 {
            font-size: 24px;
            font-weight: 300;
            line-height: 26px;
        }
    }
}

header {
    .container {
        .row {
            height: 80px;
            .onlines {
                font-size: 14px;
                padding: 8px 16px;
                background: white;
                font-weight: 500;
                text-align: center;
                border-radius: 3px;
                width: max-content;
            }
        }
    }
    background: $roxo;
}

.navbar-light {
    background-color: white !important;
    border-bottom: 1px solid #5f5b6626;
    .navbar-nav {
        .dropdown-toggle {
            padding-right: 16px;
            &:after {
                display: none;
            }
            img {
                margin-left: 8px;
            }
        }
        .nav-link,
        .dropdown-item {
            color: $black;
            font-weight: 500!important;
            text-transform: uppercase;
            font-size: 14px;
            &:active,
            &:hover,
            &:focus {
                color: #593d81!important;
                outline: 0;
                background: transparent;
            }
        }
    }
    .navbar-toggler {
        border: 0;
        color: $black;
        font-weight: 500;
        font-size: 16px;
        height: 32px;
    }
}

.user-info {
    margin-top: 24px;
    border-radius: $radius;
    background: white;
    border: 1px solid #5f5b6626;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 82px;
    p {
        margin-top: 16px;
    }
    img {
        position: absolute;
        right: 24px;
        top: 32px;
    }
    .lookavatar {
        height: 64px;
        width: 64px;
        border: 1px solid #5f5b6626;
        border-radius: 3px;
        margin: 8px 8px;
        background-image: url(../images/avatar.png);
        background-position: center;
        background-repeat: no-repeat;
        float: left;
        transition: $transition;
        &:hover {
            background-color: $roxo;
        }
    }
}

.user-coins {
    color: white;
    font-size: 14px;
    line-height: 16px;
    margin-top: 1px;
    padding: 8px 8px;
    background: $roxo;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;
}

.loteria-info {
    margin-top: 24px;
    border-radius: $radius;
    background: white;
    border: 1px solid #5f5b6626;
    min-height: 118px;
    .title {
        position: absolute;
        top: 32px;
        right: 24px;
        font-size: 12px;
        background: $roxo;
        color: white;
        padding: 0px 8px;
        border-radius: 3px;
    }
    p {
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }
    span {
        font-size: 16px;
        line-height: 26px;
    }
    a {
        float: right;
        margin-right: 16px;
        color: $black;
        transition: $transition;
        img {
            margin-right: 4px;
            transition: $transition;
        }
        &:hover {
            font-weight: 300;
            text-decoration: none;
            color: $roxo;
            img {
                margin-left: 4px;
                margin-right: 0px;
            }
        }
    }
    .raro {
        height: 100px;
        width: 100px;
        margin: 8px 8px;
        border: 1px solid #5f5b6626;
        border-radius: $radius;
        position: relative;
        float: left;
        transition: $transition;
        background-image: url(../images/raro.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        .time {
            font-size: 12px;
            background: $roxo;
            width: max-content;
            padding: 4px;
            position: absolute;
            bottom: 4px;
            right: 4px;
            color: $white;
            border-radius: $radius;
            transition: $transition;
        }
        &:hover {
            background-color: $roxo;
            .time {
                background: white;
                color: $roxo;
            }
        }
    }
}

.leilao-info {
    margin-top: 8px;
    border-radius: $radius;
    background: $roxo;
    border: 1px solid #5f5b6626;
    min-height: 118px;
    p {
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }
    .title {
        position: absolute;
        top: 16px;
        right: 24px;
        font-size: 12px;
        background: white;
        color: $roxo;
        padding: 0px 8px;
        border-radius: 3px;
    }
    .raro {
        height: 100px;
        width: 100px;
        margin: 8px 8px;
        border: 1px solid #5f5b6626;
        border-radius: $radius;
        position: relative;
        float: left;
        transition: $transition;
        background-image: url(../images/raro.png);
        background-color: white;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        .time {
            font-size: 12px;
            background: $roxo;
            color: white;
            width: max-content;
            padding: 4px;
            position: absolute;
            bottom: 4px;
            right: 4px;
            border-radius: $radius;
            transition: $transition;
        }
    }
    label {
        font-size: 12px;
        color: white;
        line-height: 16px;
        margin: 0;
        margin-top: 16px;
    }
    #helpId {
        font-size: 10px;
        line-height: 12px;
        color: $white!important;
    }
    .form-control {
        background-color: #ffffff4f;
        border: 0;
        color: white;
        &:active,
        &:focus,
        &:hover {
            outline: 0;
            box-shadow: 0 0 0 0;
        }
    }
}

#noticias {
    margin-top: 12px;
    .noticias-items {
        background: $roxo;
        height: 200px;
        width: 200px;
        margin: 4px;
        border-radius: $radius;
        .data {
            position: absolute;
            top: 8px;
            right: 8px;
            font-size: 12px;
            background: white;
            color: $roxo;
            padding: 0px 8px;
            border-radius: 3px;
        }
        .titulo-noticia {
            position: absolute;
            bottom: 8px;
            font-size: 14px;
            color: $white;
            padding: 0px 8px;
            border-radius: 3px;
        }
        .autor-noticia {
            height: 32px;
            width: 32px;
            position: absolute;
            top: 8px;
            left: 8px;
            background: white;
            border-radius: 3px;
        }
    }
}

.users-list {
    margin-top: 8px;
    border-radius: $radius;
    border: 1px solid #5f5b6626;
    background: $white;
    .list-item {
        position: relative;
        .tag {
            position: absolute;
            top: 8px;
            right: 8px;
            font-size: 12px;
            background: $roxo;
            color: $white;
            padding: 0px 8px;
            border-radius: 3px;
        }
        height: 80px;
        border-bottom: 1px dashed #5f5b6626;
        .list-avatar {
            height: 64px;
            width: 64px;
            border: 1px solid #5f5b6626;
            border-radius: 3px;
            margin: 8px 8px;
            background-image: url(../images/avatar.png);
            background-position: center;
            background-repeat: no-repeat;
            float: left;
            transition: $transition;
            &:hover {
                background-color: $roxo;
            }
        }
        p {
            line-height: 18px;
            margin-top: 24px;
            float: left;
            margin-left: 8px;
        }
    }
}

.bolao-info {
    margin-top: 8px;
    border-radius: $radius;
    background: $white;
    border: 1px solid #5f5b6626;
    min-height: 118px;
    p {
        margin-top: 16px;
        font-size: 14px;
        line-height: 16px;
    }
    .btn-primary {
        margin-bottom: 0px;
        &:active,
        &:focus,
        &:hover {
            outline: 0;
            box-shadow: 0 0 0 0;
        }
    }
    .title {
        position: absolute;
        top: 16px;
        right: 24px;
        font-size: 12px;
        background: $roxo;
        color: $white;
        padding: 0px 8px;
        border-radius: 3px;
    }
    .raro {
        height: 100px;
        width: 100px;
        margin: 8px -7px;
        border: 1px solid #5f5b6626;
        border-radius: $radius;
        position: relative;
        float: right;
        transition: $transition;
        background-color: $roxo;
        color: $white;
        line-height: 16px;
        p {
            text-align: center;
            font-size: 24px;
            margin-top: 24px;
            small {
                font-size: 14px;
            }
        }
        .time {
            font-size: 12px;
            background: $white;
            color: $roxo;
            width: max-content;
            padding: 4px;
            position: absolute;
            bottom: 4px;
            right: 4px;
            border-radius: $radius;
            transition: $transition;
        }
    }
    label {
        font-size: 12px;
        color: $black;
        line-height: 16px;
        margin: 0;
        margin-top: 16px;
    }
    #helpId {
        font-size: 10px;
        line-height: 12px;
        color: $black!important;
    }
}

footer {
    height: 50px;
    #text-footer {
        padding: 8px;
        background: $roxo;
        margin: 16px -15px;
        border-radius: $radius;
        p {
            margin-top: 8px;
            font-size: 14px;
            line-height: 16px;
            margin-bottom: 4px;
        }
        .redes-sociais {
            img {
                float: right;
                margin-left: 12px;
                margin-top: 4px;
            }
        }
    }
}

.info-mais {
    padding: 16px;
    border-radius: 3px;
    position: fixed;
    bottom: 8px;
    left: 8px;
    cursor: pointer;
    background-color: $roxo;
    img {
        transition: $transition;
    }
}

.bg-index {
    background-color: transparent !important;
    border: 0;
    .navbar-nav {
        .dropdown-toggle {
            padding-left: 16px;
            &:after {
                display: none;
            }
            img {
                margin-left: 8px;
            }
        }
        .nav-link,
        .dropdown-item {
            color: $white;
            font-weight: 500!important;
            text-transform: uppercase;
            font-size: 14px;
            &:active,
            &:hover,
            &:focus {
                color: $white!important;
                outline: 0;
                background: transparent;
            }
        }
    }
    .navbar-toggler {
        border: 0;
        color: $white;
        font-weight: 500;
        font-size: 16px;
    }
}

.info-mais-div {
    position: fixed;
    height: 100vh;
    right: -300px;
    top: 0;
    width: 300px;
    background-color: $roxo;
    padding-top: 48px;
    overflow: overlay;
    .close-icon {
        position: absolute;
        top: 16px;
        right: 16px;
        color: $white;
        cursor: pointer;
    }
    .lista-info {
        height: 72px;
        border-bottom: 1px dashed white;
        &:last-child {
            border-bottom: 0px dashed white;
        }
        .avatar-user-info {
            height: 56px;
            width: 56px;
            margin: 8px;
            margin-right: 16px;
            border: 1px solid #5f5b6626;
            border-radius: $radius;
            position: relative;
            float: left;
            transition: $transition;
            background-color: $white;
            color: $white;
            line-height: 16px;
            &:hover {
                background-color: rgba( 255, 255, 255, .2);
            }
        }
        p {
            margin-top: 16px;
            float: left;
            line-height: 18px;
        }
    }
}

.open {
    img {
        transform: rotate(45deg);
        transition: $transition;
    }
}