body {
    font-family: $font;
    font-weight: 300;
    font-size: 16px;
    color: $black;
}

.form-control {
    font-weight: 300;
}

small {
    font-weight: 300;
}

.btn {
    margin-bottom: 8px;
    padding: 8px 16px;
    font-weight: 300;
}

.frank {
    width: 100%;
    height: 80px;
    background: rgba( 0, 0, 0, .5);
    margin-bottom: 24px;
    border-radius: $radius;
    padding: 8px;
    color: white;
    .avatar {
        height: 56px;
        width: 56px;
        background-image: url(../images/frank-head.png);
        background-color: white;
        background-repeat: no-repeat;
        background-position: -6px -8px;
        border-radius: 100%;
        float: left;
        margin-right: 24px;
    }
}

#login {
    .areadelogin {
        min-height: 100vh;
    }
}

#registro {
    .areaderegistro {
        min-height: 100vh;
    }
    .boy {
        background: url(../images/pageregister.png);
        height: 105px;
        width: 65px;
        background-position: -188px -43px;
        margin-bottom: 24px;
        margin-top: 8px;
        transition: $transition;
        background-repeat: no-repeat;
        background-size: 320px;
        &:hover {
            transform: scale(1.1);
        }
    }
    .girl {
        background: url(../images/pageregister.png);
        height: 105px;
        width: 61px;
        background-position: -256px -40px;
        margin-bottom: 24px;
        margin-top: 8px;
        transition: $transition;
        background-repeat: no-repeat;
        background-size: 320px;
        &:hover {
            transform: scale(1.1);
        }
    }
}