$bluef: #425F9C;
$bluee: #0f7dbc;
$black: #5f5b66;
$green: #00813e;
$white: #FFFFFF;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;
$xs: 0px;
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500&display=swap');
$font: 'Roboto',
sans-serif;
$transition: .35s ease-in-out;
$radius: 3px;