    
RewriteEngine On
RewriteRule newpassword/([a-zA-Z0-9_-]+)(|/)$    /index.php?url=newpassword&key=$1
RewriteRule ^([a-zA-Z0-9_-]+)(|/)$    index.php?url=$1
RewriteRule client/([a-zA-Z0-9_-]+)(|/)$    /index.php?url=client&id=$1
RewriteRule vipsucess/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)    /index.php?url=buvip&id1=$1&id2=$2&id3=$3&id4=$4&id5=$5
RewriteRule load/([a-zA-Z0-9_-]+)/([0-9]+)    /index.php?url=load&id=$1&badge=$2
RewriteRule SettingsAvances/([a-zA-Z0-9_-]+)    /index.php?url=SettingsAvances&id=$1
RewriteRule ProfilViewMore/([a-zA-Z0-9_-]+)/([0-9]+)    /index.php?url=ProfilViewMore&type=$1&id=$2
RewriteRule GetFigure/([a-zA-Z0-9_-]+)    /index.php?url=PlayerGetFigure&username=$1
RewriteRule raros/craft/([a-zA-Z0-9_-]+)    /index.php?url=craftr&id=$1
RewriteRule imagem/(.*)(|/)$    /index.php?url=imagem&id=$1
RewriteRule desenho/(.*)(|/)$    /index.php?url=desenho&id=$1
RewriteRule settings/(.*)(|/)$    /index.php?url=settings&user=$1
RewriteRule room/([a-zA-Z0-9_-]+)(|/)$    /index.php?url=room&id=$1
RewriteRule adminpan/([a-zA-Z0-9_-]+)(|/)$    adminpan/index.php?url=$1
RewriteRule raros/(.*)(|/)$    /index.php?url=raros&id=$1
RewriteRule craft/(.*)(|/)$    /index.php?url=craft&id=$1
RewriteRule troca/(.*)(|/)$    /index.php?url=troca&id=$1
RewriteRule ^habbo-imaging/badge/([^/]+)    /habbo-imaging/badge.php?badge=$1
RewriteRule ^api/avatar/([^/]+)    avatar.php?user=$1
RewriteRule ^api/grande/([^/]+)    grande.php?user=$1
RewriteRule ^api/head/([^/]+)    head.php?user=$1
RewriteRule ^habbo-imaging/head/([^/]+)    /habbo-imaging/head.php?figure=$1
RewriteRule news/([a-zA-Z0-9_-]+)(|/)$    /index.php?url=news&id=$1
RewriteRule rascunho/([a-zA-Z0-9_-]+)(|/)$    /index.php?url=rascunho&id=$1
RewriteRule forum/([0-9]+)    /index.php?url=forum&id=$1
RewriteRule forum/new    /index.php?url=forum&id=new
RewriteRule forum/post/([0-9]+)    /index.php?url=post&id=$1
RewriteRule home/([a-zA-Z0-9_-]+)(|/)$    /index.php?url=home&user=$1
RewriteRule newfurni1/([a-zA-Z0-9_-]+)(|/)$    /index.php?url=newfurni1&id=$1
RewriteRule newfurni2/([a-zA-Z0-9_-]+)(|/)$    /index.php?url=newfurni2&id=$1
RewriteRule sorvetemobi/([a-zA-Z0-9_-]+)(.*)(|/)$    /index.php?url=sorvetemobi&id=$1
RewriteRule adminpan/gebruiker/([a-zA-Z0-9_-]+)(|/)$    /adminpan/index.php?url=gebruiker&user=$1
RewriteRule adminpan/sollielook/([a-zA-Z0-9_-]+)(|/)$    /adminpan/index.php?url=sollielook&look=$1
RewriteRule adminpan/news/delete/([a-zA-Z0-9_-]+)(|/)$    /adminpan/index.php?url=news&delete=$1
RewriteRule adminpan/sollielook/delete/([a-zA-Z0-9_-]+)(|/)$    /adminpan/index.php?url=sollielook&delete=$1
RewriteRule adminpan/news/edit/([a-zA-Z0-9_-]+)(|/)$    /adminpan/index.php?url=editnews&news=$1
RewriteRule adminpan/bans/delete/([a-zA-Z0-9_-]+)(|/)$    /adminpan/index.php?url=bans&delete=$1
RewriteRule adminpan/giveuseroftheweek/([a-zA-Z0-9_-]+)(|/)$    /adminpan/index.php?url=giveuseroftheweek&user=$1
RewriteRule register/(.*)(|/)$    /index.php?url=register&userref=$1
RewriteRule newpassword/([a-zA-Z0-9_-]+)(|/)$    /index.php?url=newpassword&key=$1
RewriteRule rpg/([a-zA-Z0-9_-]+)(|/)$    rpg/index.php?url=$1
RewriteRule rpg/editarads/([a-zA-Z0-9_-]+)(|/)$    /rpg/index.php?url=editarads&id=$1
RewriteRule adminpan/resultados/([a-zA-Z0-9_-]+)(|/)$    /adminpan/index.php?url=resultados¬icia=$1
RewriteRule formularios/([a-zA-Z0-9_-]+)(|/)$    /index.php?url=formularios¬icia=$1
RewriteRule texto/(.*)(|/)$    /index.php?url=texto&id=$1
RewriteRule adminpan/rascunho/edit/([a-zA-Z0-9_-]+)(|/)$    /adminpan/index.php?url=rascunho&news=$1
RewriteRule radiorequest/([a-zA-Z0-9_-]+)/([0-9]+)    /index.php?url=radiorequest&mensagem=$1&tipo=$2
RewriteRule url/([0-9])(|/)$    /index.php?url=url&hotel=$1
RewriteRule url2/([0-9])$    /index.php?url=url2&hotel=$1
RewriteRule ^newfoto/core/(.*)    /newfoto/index.php?id=$1
RewriteRule ^newfoto/core/([^/]+)$    newfoto/index.php?id=$1
RewriteRule ^newfoto/core/(|/)$    newfoto/index.php?id=$1