<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>	
   <httpProtocol>
     <customHeaders>
       <add name="Access-Control-Allow-Origin" value="" />
     </customHeaders>
   </httpProtocol>
	
        <rewrite>
			<rules>
			
<rule name="Imported Rule User Pass1" stopProcessing="true">
	<match url="newpassword/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
	<action type="Rewrite" url="/index.php?url=newpassword&amp;key={R:1}" appendQueryString="false" />
</rule>
                <rule name="Imported Rule Brain">
                    <match url="^([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php?url={R:1}" appendQueryString="false" />
				</rule>
                <rule name="Imported clieent" stopProcessing="true">
                    <match url="client/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=client&amp;id={R:1}" appendQueryString="false" />
                </rule>		
				
				<rule name="Imported VIP1S" stopProcessing="true">
                    <match url="vipsucess/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)/([a-zA-Z0-9_-]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=buvip&amp;id1={R:1}&amp;id2={R:2}&amp;id3={R:3}&amp;id4={R:4}&amp;id5={R:5}" appendQueryString="false" />
                </rule>
				
	

					<rule name="Imported load" stopProcessing="true">
                    <match url="load/([a-zA-Z0-9_-]+)/([0-9]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=load&amp;id={R:1}&amp;badge={R:2}" appendQueryString="false" />
                </rule>	
				
				
				<rule name="Imported settings3" stopProcessing="true">
                    <match url="SettingsAvances/([a-zA-Z0-9_-]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=SettingsAvances&amp;id={R:1}" appendQueryString="false" />
                </rule>	
				<rule name="Imported profilee" stopProcessing="true">
                    <match url="ProfilViewMore/([a-zA-Z0-9_-]+)/([0-9]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=ProfilViewMore&amp;type={R:1}&amp;id={R:2}" appendQueryString="false" />
                </rule>	
				
				<rule name="Imported lookindex" stopProcessing="true">
                    <match url="GetFigure/([a-zA-Z0-9_-]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=PlayerGetFigure&amp;username={R:1}" appendQueryString="false" />
                </rule>	

				<rule name="Imported crafted" stopProcessing="true">
                    <match url="raros/craft/([a-zA-Z0-9_-]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=craftr&amp;id={R:1}" appendQueryString="false" />
                </rule>						
				<rule name="Imagem" stopProcessing="true">
                    <match url="imagem/(.*)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=imagem&amp;id={R:1}" appendQueryString="false" />
				</rule>					
				<rule name="Imagem Desenho" stopProcessing="true">
                    <match url="desenho/(.*)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=desenho&amp;id={R:1}" appendQueryString="false" />
				</rule>	
				<rule name="preferencias imported" stopProcessing="true">
                    <match url="settings/(.*)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=settings&amp;user={R:1}" appendQueryString="false" />
				</rule>				
				<rule name="Imported quarto" stopProcessing="true">
                    <match url="room/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=room&amp;id={R:1}" appendQueryString="false" />
                </rule>				
				 <rule name="Imported Rule HK">
                    <match url="adminpan/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="adminpan/index.php?url={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imagem Desenho2" stopProcessing="true">
                    <match url="raros/(.*)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=raros&amp;id={R:1}" appendQueryString="false" />
				</rule>	
								<rule name="Craft" stopProcessing="true">
                    <match url="craft/(.*)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=craft&amp;id={R:1}" appendQueryString="false" />
				</rule>
								<rule name="Troca" stopProcessing="true">
                    <match url="troca/(.*)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=troca&amp;id={R:1}" appendQueryString="false" />
				</rule>					
				<rule name="Imported Rule 1-1">
                    <match url="^habbo-imaging/badge/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/habbo-imaging/badge.php?badge={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Imported Rule avatar">
                    <match url="^api/avatar/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="avatar.php?user={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Imported Rule avatarG">
                    <match url="^api/grande/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="grande.php?user={R:1}" appendQueryString="false" />
                </rule>
				<rule name="Imported Rule head">
                    <match url="^api/head/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="head.php?user={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 2-1">
                    <match url="^habbo-imaging/head/([^/]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/habbo-imaging/head.php?figure={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="news/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=news&amp;id={R:1}" appendQueryString="false" />
				</rule>		
                <rule name="RASCUNHO NEWS" stopProcessing="true">
                    <match url="rascunho/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=rascunho&amp;id={R:1}" appendQueryString="false" />
				</rule>	
				<rule name="Imported Rule FORUM1" stopProcessing="true">
                    <match url="forum/([0-9]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=forum&amp;id={R:1}" appendQueryString="false" />
				</rule>
				
				<rule name="Imported Rule FORUM1a" stopProcessing="true">
                    <match url="forum/new" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=forum&amp;id=new" appendQueryString="false" />
				</rule>
				
				<rule name="Imported Rule FORUM" stopProcessing="true">
                    <match url="forum/post/([0-9]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=post&amp;id={R:1}" appendQueryString="false" />
				</rule>
				
				<rule name="Imported Rule 131234" stopProcessing="true">
                    <match url="home/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=home&amp;user={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule 131234876" stopProcessing="true">
                    <match url="newfurni1/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=newfurni1&amp;id={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule 13123487676" stopProcessing="true">
                    <match url="newfurni2/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=newfurni2&amp;id={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule 13123487676kkk" stopProcessing="true">
                    <match url="sorvetemobi/([a-zA-Z0-9_-]+)(.*)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=sorvetemobi&amp;id={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK Users" stopProcessing="true">
                    <match url="adminpan/gebruiker/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=gebruiker&amp;user={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK Sollielook" stopProcessing="true">
                    <match url="adminpan/sollielook/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=sollielook&amp;look={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK DeleteNews" stopProcessing="true">
                    <match url="adminpan/news/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=news&amp;delete={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK DeleteSollie" stopProcessing="true">
                    <match url="adminpan/sollielook/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=sollielook&amp;delete={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK EditNews" stopProcessing="true">
                    <match url="adminpan/news/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=editnews&amp;news={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK DeleteBan" stopProcessing="true">
                    <match url="adminpan/bans/delete/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=bans&amp;delete={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule HK GiveUODW" stopProcessing="true">
                    <match url="adminpan/giveuseroftheweek/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=giveuseroftheweek&amp;user={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule User Ref" stopProcessing="true">
                    <match url="register/(.*)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=register&amp;userref={R:1}" appendQueryString="false" />
				</rule>
				<rule name="Imported Rule User Pas" stopProcessing="true">
                    <match url="newpassword/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=newpassword&amp;key={R:1}" appendQueryString="false" />
				</rule>				
				 <rule name="Imported Rule RPG">
                    <match url="rpg/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="rpg/index.php?url={R:1}" appendQueryString="false" />
				</rule>	
				<rule name="Imported Rule RPG2" stopProcessing="true">
                    <match url="rpg/editarads/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/rpg/index.php?url=editarads&amp;id={R:1}" appendQueryString="false" />
				</rule>		
				<rule name="Imported Resul noticias" stopProcessing="true">
                    <match url="adminpan/resultados/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=resultados&amp;noticia={R:1}" appendQueryString="false" />
				</rule>	
				<rule name="Enviar reusltado noticia" stopProcessing="true">
                    <match url="formularios/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=formularios&amp;noticia={R:1}" appendQueryString="false" />
				</rule>	
				<rule name="Textoo" stopProcessing="true">
                    <match url="texto/(.*)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=texto&amp;id={R:1}" appendQueryString="false" />
				</rule>		
				<rule name="Imported Rule HK EditNews22" stopProcessing="true">
                    <match url="adminpan/rascunho/edit/([a-zA-Z0-9_-]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/adminpan/index.php?url=rascunho&amp;news={R:1}" appendQueryString="false" />
				</rule>				
				<rule name="Pedido Radio" stopProcessing="true">
                    <match url="radiorequest/([a-zA-Z0-9_-]+)/([0-9]+)" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=radiorequest&amp;mensagem={R:1}&amp;tipo={R:2}" appendQueryString="false" />
                </rule>	
				 <rule name="Imported Rule URL" stopProcessing="true">
                    <match url="url/([0-9])(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=url&amp;hotel={R:1}" appendQueryString="false" />
				</rule>	
				 <rule name="Imported Rule URL2" stopProcessing="true">
                    <match url="url2/([0-9])$" ignoreCase="false" />
                    <action type="Rewrite" url="/index.php?url=url2&amp;hotel={R:1}" appendQueryString="false" />
				</rule>					
				
				<rule name="Imported Rule 25">
                    <match url="^newfoto/core/(.*)" ignoreCase="false" />
                    <action type="Rewrite" url="/newfoto/index.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 26">
                    <match url="^newfoto/core/([^/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="newfoto/index.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 27">
                    <match url="^newfoto/core/(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="newfoto/index.php?id={R:1}" appendQueryString="false" />
				</rule>
				
			</rules>
		</rewrite>
        <!--<httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/templates/YUUP2019/404.php" responseMode="ExecuteURL" />
        </httpErrors>-->
	</system.webServer>
</configuration>